<html>
<head>
	<link rel="stylesheet" type="text/css" href="../pages/data-app.css" />
</head>
<body>
<wicket:panel>

<span wicket:id="signedInWrapper">
	<span wicket:id="username">cook4all</span> 
	| 
	<a wicket:id="profile" href="#"><span wicket:id="text">Account</span></a>
	<wicket:enclosure child="admin">
		| 
		<a wicket:id="admin" href="#"><span wicket:id="text">Admin</span></a>
	</wicket:enclosure>
	| 
	<a wicket:id="signOut" href="#"><span wicket:id="text">Sign out</span></a>
</span>
<a wicket:id="signIn" href="DataSignInPage.html"><span wicket:id="text">Sign in</span></a>

</wicket:panel>
</body>
</html>
